%div{'data-attach-widget'=> "tm.Task", 'data-item' => "#{item.id}", :class => "b-task j-task #{item.finished ? 'h-finished' : ''}", :priority => item.priority_id}
  = form_for item, :url => project_task_path(item.project, item) do |f|
    .b-row{:style => "background-color: #{item.priority.color}", 'data-attach-point' => 'rowNode'}
      .b-checkbox
        = f.check_box :finished, :'data-attach-event' => 'change: onFinish'
        = f.hidden_field :priority_id
      .b-edit
        .i-change-priority{:title => 'change priority', 'data-attach-event' => 'click: onChangePriority'}>
        .delimiter>
        .i-edit{:title => 'edit', 'data-attach-event' => 'click: onEdit', 'data-url'=> edit_project_task_path(item.project, item)}>
        .delimiter>
        .i-delete{:title => 'delete', 'data-attach-event' => 'click: onDelete', 'data-method' => "delete", 'data-url'=> project_task_path(item.project, item)}>
      .b-title{'data-attach-point' => 'title'}
        = item.title
