- content_for :script do
  - new_project = Project.new(:title => '')
  - new_task = new_project.tasks.new(:title => '')
  %script{:type => 'text/template', :id => 'project'}
    = render :partial => 'projects/item', :object => new_project
  %script{:type => 'text/template', :id => 'task'}
    = render :partial => 'tasks/item', :object => new_task
  %script{:type => 'text/template', :id => 'projectForm'}
    = render :partial => 'projects/form', :locals => {:project => new_project}
  %script{:type => 'text/template', :id => 'taskForm'}
    = render :partial => 'tasks/form', :locals => {:project => new_project, :task => new_task}
  :javascript
    $(document).ready(function(){
      new tm.Manager(#{@projects.to_json(:include => :tasks)});
    });

- content_for :footer do
  %button.b-project-add-btn
    %i
    Add TODO list

= link_to 'Create project', new_project_path
= render :partial => 'projects/item', :collection => @projects
%br/ 
%br/
