= @project.title
= link_to 'edit', edit_project_path(@project)
= link_to 'delete', project_path(@project), :method => :delete

%br
%br

Tasks
%br
- @project.tasks.each do |t|
  = t.title
  = link_to 'Edit', edit_project_task_path(t.project_id, t.id)
  = link_to 'Delete', project_task_path(t.project_id, t.id), :method => :delete
  %br

%br
%h4
  Add task form
= form_for @project do |pf|
  = pf.fields_for :tasks, @project.tasks.build do |f|
    = f.label :title
    = f.text_field :title
    = f.submit
