= @project.title
= link_to 'edit', edit_project_path(@project)
= link_to 'delete', project_path(@project), :method => :delete

%br
%br

Priorities
%br
- @priorities.each do |p|
  = p.title
  = link_to 'Edit', edit_priority_path(p)
  = link_to 'Delete', priority_path(p), :method => :delete
  %br


Tasks
%br
- @project.tasks.each do |t|
  = t.title
  = link_to 'Edit', edit_project_task_path(t.project_id, t.id)
  = link_to 'Delete', project_task_path(t.project_id, t.id), :method => :delete
  %br

%br
%h4
  Add priority form
= form_for current_user.priorities.new do |f|
  = f.label :title
  = f.text_field :title
  = f.submit
%br
%h4
  Add task form
= form_for @project do |pf|
  = pf.fields_for :tasks, @project.tasks.new do |f|
    = f.label :title
    = f.text_field :title
    = f.collection_select(:priority_id, @priorities, :id, :title)
    = f.submit
