!!!
%html
  %head
  %title
    TaskManager
  = stylesheet_link_tag :application
  = javascript_include_tag :application
  = csrf_meta_tag
  = yield :script
  %body
    .b-page#page
      - if current_user
        .b-head
          You are logged in as 
          = link_to(current_user.username, edit_user_registration_path)
          |
          = link_to('logout', destroy_user_session_path)
      .b-page-title
        simple todo lists
        .sub
          from ruby garage
      = yield
    .b-footer
      %button.b-project-add-btn
        %i
        Add TODO list
      .copy
        &copy;&nbsp;Ruby Garage
