!!!
%html
  %head
  %title
    TaskManager
  = stylesheet_link_tag :application
  = javascript_include_tag :application
  = csrf_meta_tag
  = yield :script
  %body
    .b-page#page
      - if current_user
        .b-head
          You are logged in as 
          = current_user.username
          |
          = link_to('logout', destroy_user_session_path)
      .b-page-title
        simple todo lists
        .sub
          from ruby garage
      = yield
    .b-footer
      = yield :footer
      .copy
        &copy;&nbsp;Ruby Garage
    #dialog
    #tooltip.tooltip
      %ul
        - Priority.all.each do |pr|
          %li
            = radio_button_tag 'task_priority', pr.id, false
            = label_tag "task_priority_#{pr.id}", pr.title
